
<div class="table-template">
    <table>
        <thead>
            
                <tr>
                    <ng-container *ngFor="let item of names">
                        <th>{{item}}</th>
                    </ng-container>
                    <th>Измени</th>
                    <th>Избриши</th>
                </tr>
        </thead>
        <tbody>
           <ng-container *ngFor="let item of list">
                <tr>
                    <td><p>{{item.o}}</p></td>
                    <td><p>{{item.ime}}</p></td>
                    <td><p>{{item.prezime}}</p></td>
                    <td><p>{{item.datumRodjenja}}</p></td>
                    <td><p>{{item.starost}}</p></td>
                    <td><p>{{item.jmbg}}</p></td>
                    <td><p>{{item.brojTelefona}}</p></td>
                    <td><p>{{item.prebivaliste.naziv}}</p></td>
                    <td><p>{{item.rodnoMesto.naziv}}</p></td>
                    <td><button routerLink="/update" (click)="setOsobaObject(item)"><img src="https://icons.veryicon.com/png/o/miscellaneous/food-time/rewrite.png" alt="update person"></button></td>
                    <td><button (click)="deleteOsoba(item)"><img src="https://www.svgrepo.com/show/32086/trash.svg" alt="delete person"></button></td>
                </tr>
           </ng-container>
        </tbody>
    </table>
    <div>
        <button routerLink="/insert"><p>Креирај нову особу</p></button>
        <button (click)="decreaseIndex()"><p>Претходна страница</p></button>
        <input type="number" [(ngModel)]="index">
        <button (click)="increaseIndex()"><p>Следећа страница</p></button>
        <div>
            <p>Бр. редова</p>
            <input type="number" (keyup)="changeSize($event)" [(ngModel)]="size">
        </div>
    </div>
</div>
